:root {
   --color-primary: #FFFFFF;
   --color-secondary: #C0C0C0; 
   --color-tertiary: #167BF7;
   --background-color: #00030C;
}

body {
    background-color: var(--background-color);
    color: var(--color-primary);
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("/img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
}

.container__botao {
    background-color: var(--color-tertiary);
    border-radius: 5px;
    padding: 1em;
    color: var(--color-primary);
    display: block;
}